.App {
  text-align: center;
}

.app__form {
  background-color: rgb(240, 240, 240);
  position: fixed;
  bottom: 0;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
