.message-card {
  margin: 10px;
  width: fit-content;
}
.message-card > div {
  padding: 10px !important;
  background-color: rgb(230, 230, 230);
}

.user-message {
  margin-left: auto;
}
.user-message > div {
  background-color: lightblue;
}
